body {
  font-size: 19px;
}
input[type="checkbox"] {
  transform: scale(3);
  margin-left: 2%;
}
#ejercicio3 {
  padding: 20px;
  font-size: 22px;
  color: white;
}
#ejercicio5 {
  background-color: black;
  padding: 20px;
  font-size: 22px;
  color: white;
}
span {
  color: black;
}
#cambios {
  color: red;
}
