@font-face{
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css?family=Roboto');
}
*{
    font-family: 'Roboto', sans-serif;
}
body{
  margin: 0;
  padding: 0;

}
header, footer{
    color: black;
}
header{
	text-align: center;	
}
section{
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;
}
article{
	background-color: rgb(131, 145, 146); 
	padding-bottom: 5px;  
	padding-right: 8px;  
    padding-left: 8px;  
    margin: 5px;
}
article {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
article:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: rgba(5, 5, 5, 0.9);
    transition: 0.5s;
}
p#enlace{
    font-weight: bold;
}

article:hover p a{
    color:white;
    transition: 0.5s;
    font-weight: bold;
}
.titulo_tarea{
	padding-top: 5px;
	font-size: 1.2em;
    text-align: center;
}
.linea{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 15% 15% 70%;
    grid-template-rows: repeat(1, auto);
    grid-template-areas: 
    "editar borrar enlace";
}
#editar{
    grid-area: editar;
    align-self: center;
    width: 7vh;
}
#borrar{
    grid-area: borrar;
    align-self: center;
    width: 7vh;
}
#enlace{
    grid-area: enlace;
    justify-self: end;
}
h3{
    text-align: center;
    color: white;
    padding-top: 10px;
}
section p{
	text-align: justify;
	padding-left: 15px; 
    padding-right: 15px; 
    color: white;
}
.nuevaTarea{
    transition: 0.8s;
}
.nuevaTarea:hover{
    transform: scaleY(-1);
    transition: 1s;
}
@media screen and (min-width: 320px) {
    .nuevaTarea{
        width: 14vh;
        text-align: center;
        border-radius: 13vh;
        padding-top: 3px;
        margin-left: 27vh;
    }
    .nuevaTarea img{
        width: 12vh;
    }
    .redesSoc2{
        width: 30%;
    }
    .redesSoc2 img{
        width: 50%;
    }
    
}
@media screen and (min-width: 768px) {
	section{
		margin: 0;
		padding: 0;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(3, auto);
		grid-template-areas: 
		"secDWEC secDWEC secDIW secDIW" 
		"secDWES secDWES secHLC secHLC"
		"secDAW secDAW secDAW secDAW";
    }
    .nuevaTarea{
        width: 14vh;
        text-align: center;
        border-radius: 13vh;
        padding-top: 3px;
        margin-left: 77vh;
    }
    .nuevaTarea img{
        width: 12vh;
    }
    .redesSoc2{
		width: 16%;
		margin-top: 0;
	}
}

#secDWEC{
	grid-area: secDWEC;
}
#secDIW{
	grid-area: secDIW;
}
#secDWES{
	grid-area: secDWES;
}
#secHLC{
	grid-area: secHLC;
}
#secDAW{
	grid-area: secDAW;
}
@media screen and (min-width: 1024px) {
	section{
		margin: 0;
		padding: 0;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(2, auto);
		grid-template-areas: 
		"secDWEC secDWEC secDWES secDWES secDIW secDIW" 
		"secHLC secHLC secHLC secDAW secDAW secDAW";
    }
    .nuevaTarea{
        width: 14vh;
        text-align: center;
        border-radius: 13vh;
        padding-top: 3px;
        margin-left: 100vh;
    }
    .nuevaTarea img{
        width: 12vh;
    }
    .redesSoc2{
		width: 10%;
		margin-top: 0;
    }
    .redesSoc2 img{
        width: 50%;
    }
}
a{
    text-decoration: none;
    color: black;
}
h3{
	text-align: center;
}
.general{
	display: flex;
}
p.nomb{
	flex: 1;
	text-align: left;
    font-size: 1.5em;
    color: black;
}
.redesSoc{
	display: flex;
	flex: 1;
	justify-content: flex-end;
}
.redesSoc div{
	text-align: center;
}
.redesSoc2{
	transition: 1s;
}
.redesSoc2:hover{
	transform: rotateY(180deg);
	transition: 1s;
}
.redesSoc2 img{
    width: 50%;
}