@font-face{
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css?family=Roboto');
}
*{
    font-family: 'Roboto', sans-serif;
}
body{
  margin: 0;
  padding: 0;

}
header{
    color: black;
	text-align: center;	
}
a{
    text-decoration: none;
    color: black;
}
article{
    background-color: #F7DC6F; 
    text-align: center;
	background-color: rgb(131, 145, 146); 
	padding-bottom: 5px;  
	padding-right: 8px;  
    padding-left: 8px;  
    margin: 5px;
}
label, p{
    color: white;
}
#nomb{
    width: 110px;
}
#fecha{
    width: 140px;
}
#espa{
    padding-left: 5px;
}
.addtarea{
    text-align: center;
}

@media screen and (min-width: 320px) {
    article:hover input:invalid,article:hover textarea:invalid {
        border: 2px solid rgba(178, 10, 10, 0.8);
    }  
    article:hover input:valid,article:hover textarea:valid {
        border: 2px solid rgba(30, 178, 10, 0.8);
    }
}
@media screen and (min-width: 768px) {
    section{
        width: 60vh;
        margin: 0px 0 0 50vh;
        text-align: center;
    }
    #nomb{
        width: 110px;
    }
    #fecha{
        width: 140px;
    }
    #espa{
        padding-left: 5px;
    }
}
@media screen and (min-width: 1024px) {
    section{
        width: 80vh;
        margin: 0 0 0 68vh;
        text-align: center;
    }
    #nomb{
        width: 110px;
    }
    #fecha{
        width: 140px;
    }
    #espa{
        padding-left: 5px;
    }
    article:hover input:invalid, textarea:invalid {
        border: 2px solid rgba(178, 10, 10, 0.8);
    }  
    article:hover input:valid, textarea:valid {
        border: 2px solid rgba(30, 178, 10, 0.8);
    }
}