.Contacto{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 300px;
	margin: 10px auto;
	padding: 16px;
	background: #F7F7F7;
}
.Contacto h1{
	background: #43D1AF;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}
.Contacto input[type="text"],
.Contacto input[type="date"],
.Contacto input[type="datetime"],
.Contacto input[type="email"],
.Contacto input[type="number"],
.Contacto input[type="search"],
.Contacto input[type="time"],
.Contacto input[type="url"],
.Contacto textarea,
.Contacto select 
{
	transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
.Contacto input[type="text"]:focus,
.Contacto input[type="date"]:focus,
.Contacto input[type="datetime"]:focus,
.Contacto input[type="email"]:focus,
.Contacto input[type="number"]:focus,
.Contacto input[type="search"]:focus,
.Contacto input[type="time"]:focus,
.Contacto input[type="url"]:focus,
.Contacto textarea:focus,
.Contacto select:focus
{
	box-shadow: 0 0 5px #43D1AF;
	padding: 3%;
	border: 1px solid #43D1AF;
}

.Contacto input[type="submit"],
.Contacto input[type="button"]{
	box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #43D1AF;
	border-bottom: 2px solid #30C29E;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
}
.Contacto input[type="submit"]:hover,
.Contacto input[type="button"]:hover{
	background: #2EBC99;
}