@font-face {
    font-family: "Roboto";
    src: url("https://fonts.googleapis.com/css?family=Fira+Sans");
}
* {
    font-family: 'Fira Sans', sans-serif;
    padding: 0;
    margin: 0;
}
header {
    background-color: #00c853;
}
header>a {
    text-decoration: none;
}
header h1 {
    color: white;
    margin-left: 8px;
}
header > div{
    display: flex;
    justify-content: space-between;
    align-self: center;
}
header > div i{
    margin-top: 30px;
    margin-right: 8px;
}
header > div a{
    text-decoration: none;
    color: white;
}
nav{
    padding: 4px;
}
nav ul li{
    display: none;
}
nav ul li a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
.topnavresponsive{
    position: relative;
    padding: 0;
}
.topnavresponsive li{
    margin: 8px;
    display: block;
    text-align: center;
    border: 1px solid white;
}
article{
    background-color: #C8E6C9;
    *border-radius: 20px;
    padding: 15px 0 15px 0;
}
.image{
    grid-area: image;
    width: auto;
    height: 300px;
    background-image: url('../img/casa3.jpg');
    background-size: cover;
    border: none;
    /*border-top-left-radius: 19px;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
    border-top-right-radius: 19px;*/
}
.descripcion{
    grid-area: descripcion;
}
.servicios{
    grid-area: servicios;
}
.ubicacion{
    grid-area: ubicacion;
}
.datosReserva{
    grid-area: datosReserva;
}
h3{
    font-size: 2em;
    padding: 0 0 12px 0;
    text-align: center;
    color: rgb(12, 68, 16);
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
.icono{
    width: 24px;
    height: 25px;
    color: rgba(15, 122, 5, 0.952);
} 
article{
    border: 1px solid black;
    margin: 15px 0 15px;
}
article ul li{
    list-style: none;
    margin-left: 70px; 
}
.texto{
    font-size: 0.8em;
    padding: 5px 25px 5px 25px;
}
iframe{
    height: 300px;
    width: 100%;
    padding-bottom: 10px; 
}
.precio{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.precio > .valor{
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(16, 75, 20);
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
input{
    width: 140px;
}
.reserva > p{
    width: 100%;
    text-align: center;
    padding-bottom: 8px;
}
.mostrarCasa {
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    padding: 7px;
    text-decoration: none;
    color: white;
	background-color: #82BF56;
	border-bottom: 5px solid #669644;
    text-shadow: 0px -2px #669644;
    display: block;
    width: 30%;
    text-align: center;
    box-shadow: 0 2px 6px #333333;
}
.reserva p label {
    display: inline-block;
    width: 140px;
    text-align: left;
}​
.reserva > p{
    padding-bottom: 15px;
}
select{
    width: 144px;
}
.tit{
    font-size: 1.3em;
}
section{
    margin-left: 15px;
    margin-right: 15px;
}
footer{
    color: white;
    background-color: #06853b;
    padding: 12px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}
@media screen and (min-width:768px) {
    section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-template-areas: 
        "image image"
        "descripcion servicios"
        "ubicacion datosReserva";
        grid-gap: 20px;
    }
    .texto{
        font-size: 1em;
        padding: 5px 25px 15px 25px;
    }
    article ul li {
        list-style: none;
        margin-left: 110px;
    }
    .reserva > p label {
        display: inline-block;
        width: 160px;
        text-align: left;
    }​
    footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 60px;
    }
} 
@media screen and (min-width:1024px) {
    header{
        display: flex;
        justify-content: space-between;
    }
    section{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-template-areas: 
        "image image image servicios"
        "descripcion descripcion datosReserva datosReserva"
        "ubicacion ubicacion ubicacion ubicacion";
        grid-gap: 20px;
    }
    article ul li {
        list-style: none;
        margin-left: 33px;
    }
    .tit{
        font-size: 1.7em;
    }
    #abrirMenu{
        display: none;
    }
    .topnavresponsive li {
        display: inline-block;
    }
    nav ul li{
        margin-top: 10px;
        display: inline-block;
        border: 1px solid white;
    }
} 