@font-face {
    font-family: "Roboto";
    src: url("https://fonts.googleapis.com/css?family=Fira+Sans");
}
* {
    font-family: 'Fira Sans', sans-serif;
    padding: 0;
    margin: 0;
}
header {
    background-color: #00c853;
}
header>a {
    text-decoration: none;
}
header h1 {
    color: white;
    margin-left: 8px;
}
header > div{
    display: flex;
    justify-content: space-between;
    align-self: center;
}
header > div i{
    margin-top: 30px;
    margin-right: 8px;
}
header > div a{
    text-decoration: none;
    color: white;
}
nav{
    padding: 4px;
}
nav ul li{
    display: none;
}
nav ul li a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
.topnavresponsive{
    position: relative;
    padding: 0;
}
.topnavresponsive li{
    margin: 8px;
    display: block;
    text-align: center;
    border: 1px solid white;
}

article{
    border: 1px solid black;
    margin: 20px 0 20px 0;
}

.image img{
    height: 195px;
    width: 100%;
    background-size: cover;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
}
.contenido{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
    "texto texto"
    "acciones vista";
    font-size: 0.8em;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}
.contenido ul li{
    list-style: none;
}
.icono{
    width: 24px;
    height: 25px;
}  
h3{
    font-size: 1.5em;
    padding-top: 10px;
    text-align: center;
    color: #1B5E20;
}
.texto{
    grid-area: texto;
    padding: 15px;
}
.tit{
    font-size: 2em;
}
article{
    background-color: #C8E6C9;
    border-radius: 20px;
}
.mostrarCasa {
    border-radius: 10px;
    padding: 7px;
    text-decoration: none;
    color: white;
	background-color: #82BF56;
	border-bottom: 5px solid #669644;
    text-shadow: 0px -2px #669644;
    display: block;
    width: 60%;
    text-align: center;
    box-shadow: 0 2px 6px #333333;
}
footer{
    color: white;
    background-color: #06853b;
    padding: 12px;
    text-align: center;
    height: 60px;
}

@media screen and (min-width:768px) {
    section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 540px);
       /* grid-template-areas: 
        "primera segunda"
        "tercera cuarta"
        "quinta ";*/
        grid-gap: 20px;
    }
    footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 60px;
    }
} 
@media screen and (min-width:1024px) {
    header{
        display: flex;
        justify-content: space-between;
    }
    section{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 550px);
        /*grid-template-areas: 
        "primera segunda tercera"
        "cuarta quinta .";*/
        grid-gap: 20px;
    }
    #abrirMenu{
        display: none;
    }
    .topnavresponsive li {
        display: inline-block;
    }
    nav ul li{
        margin-top: 10px;
        display: inline-block;
        border: 1px solid white;
    }
} 